*{
    box-sizing: border-box;
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    padding: 0;
    height: inherit;
    width: inherit;
    background-color: #fafafa;
}

#stories {
    height: 90px;
    width: 70vw;
    margin-top: -5px;
    border: 1px solid #b5b5b5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.user{
    display: inline-block;
    width: 18%;
    text-align: center;
}

.user p {
    text-align: center;
    margin: 0;
    font-weight: 100;
    font-family: 'Lucida Sans Unicode';
    font-size: smaller;
}

.post-header {
    background-color: white;
    height: 50px;
    box-sizing: border-box;
    width: inherit;
    padding: 5px;
    border-bottom: 1px solid #b5b5b5;
    display: flex;
    align-items: center;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-image {
    width: 100%;
    height: auto;
    display: block;
}



nav{
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

#logo{
    height: 40px;
    position: relative;
}

nav input{
    height: 25px;
    width: 30vw;
    position: absolute;
    left: 35vw;
    right: 35vw;
    color: #fafafa;
    text-align: center;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
}

#actions{
    height: 40px;
    position: absolute;
    right: 0;
}

div.user{
    margin-top: 5px;
    border-radius: 50%; 
    border: 4px double #b5b5b5;
    width: 56px;
    height: 56px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
}

.post{
      border: 1px solid #b5b5b5;
      border-radius: 2px;
      height: 60vw;
      width: 560px;
      margin: 10px 119px;
}

.user img{
    margin: 5px auto;
    border-radius: 50%;
    border: 4px double #b5b5b5;
    width: 56px;
    height: 56px;
    display: block;
}